<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>LuceneLanches</title>
</h:head>

    <h:body>
    	
    	
    	<h:form id="formPedido">
    	
		    <h:commandLink value="#{msgs.portuguese}" action="#{localeController.portugueseLocale}" /> |
		    <h:commandLink value="#{msgs.english}" action="#{localeController.englishLocale}" />
		    
		    <br></br>
		    <br></br>
		    <br></br>
		    <br></br>
		    
		    <table>
		    	<tr>
			    	<td colspan="2">
						<p:inputText id="nomePedido" label="nomePedido" size="40"  />
						<p:watermark for="nomePedido" value="#{msgs.name}"/>		    	    		
			    	</td>
		    		<td></td>
		    		<td></td>
		    	</tr>
		    	
		    	<tr>
			    	<td colspan="2">
						<p:inputText id="endereco"  label="endereco" size="40"   />
						<p:watermark for="endereco" value="#{msgs.address}"/>		    	    		
			    	</td>
		    		<td></td>
		    		<td></td>
		    	</tr>
		    
		    </table>
		    
		<p:panel id="panelLaches">		    
		    <table>
		    	<tr>
		    		<td colspan="2">
			    		<p:selectOneMenu>
							<f:selectItem itemLabel="#{msgs.listOfSnacks}" noSelectionOption="true"/>		    		
			    		</p:selectOneMenu>
		    		</td>
		    		<td></td>
		    		<td></td>
		    	</tr>
		    	
		    	<tr>
		    		<td>
		    			<h:outputLabel value="${msgs.typeOfBread}" />
		    		</td>
		    		<td>
			    		<p:selectOneMenu value="#{pedidosController.lanche.pao}" >
							<f:selectItem itemLabel="#{msgs.select}" noSelectionOption="true"/>	
							<f:selectItems value="#{pedidosController.tiposDePaes}" var="pao" itemLabel="#{pao.nomePao}" itemValue="#{pao.id}"/>	    		
			    		</p:selectOneMenu>
			    	</td>	
			    	<td></td>
		    	</tr>
		    	
		    	<tr>
		    		<td>
						<h:outputLabel value="${msgs.cheese}" />		    		
		    		</td>
		    		<td>
			    		<p:selectOneMenu value="#{pedidosController.lanche.queijo}">
							<f:selectItem itemLabel="#{msgs.select}" noSelectionOption="true"/>
							<f:selectItems value="#{pedidosController.listaQueijos}" var="queijo" itemLabel="#{queijo.nomeQueijo}" itemValue="#{queijo.id}"/>			    		
			    		</p:selectOneMenu>
			    	</td>	
			    	<td></td>
		    	</tr>
		    	
		    	<tr>
		    		<td>
						<h:outputLabel value="${msgs.filling}" />		    		
		    		</td>
		    		<td>
			    		<p:selectOneMenu value="#{pedidosController.lanche.recheio}">
			    			<f:selectItem itemLabel="#{msgs.select}" noSelectionOption="true"/>
			    			<f:selectItems value="#{pedidosController.listaRecheios}" var="recheio" itemLabel="#{recheio.tipoRecheio}" itemValue="#{recheio.id}"/>
			    		</p:selectOneMenu>
			    	</td>	
			    	<td></td>
		    	</tr>
		    	
		    	<tr>
		    		<td>
						<h:outputLabel value="#{msgs.salad}" />		    		
		    		</td>
		    		<td>
			    		<p:selectOneRadio value="#{pedidosController.lanche.salada}">
							<f:selectItems  value="#{pedidosController.listaSalada}" var="salada"  itemValue="#{salada}" itemLabel="#{msgs[salada.label]}"/>
			    		</p:selectOneRadio>
			    	</td>
			    	<td></td>	
		    	</tr>
		    	<tr>
		    		<td>
						<h:outputLabel value="${msgs.sauces}" />		    		
		    		</td>
		    		<td>
			    		<p:selectManyCheckbox value="#{pedidosController.lanche.listaMolhos}">
			    			<f:selectItems value="#{pedidosController.listaMolhos}" var="molhos" itemLabel="#{msgs[molhos.label]}" itemValue="#{molhos}"/>
			    		</p:selectManyCheckbox>
			    	</td>	
			    	<td></td>
		    	</tr>
		    	
		    	<tr>
		    		<td>
		    			<h:outputLabel value="${msgs.spices}" />
		    		</td>
		    		<td>
			    		<p:selectManyCheckbox value="#{pedidosController.temperosSelecionados}">
			    			<f:selectItems value="#{pedidosController.listaTemperos}" var="tempero" itemLabel="#{msgs[tempero.label]}" itemValue="#{tempero}" />
			    		</p:selectManyCheckbox>
			    	</td>	
			    	<td></td>
		    	</tr>
		    </table>
		   </p:panel> 
		   
		    <p:remoteCommand name="remote" action="#{pedidosController.testeValor}"/>
		    
		    <p:panel>
			    <p:selectOneListbox value="#{pedidosController.lancheSelecionado}" style="width: 200px;"  id="lanchesPadrao" converter="conversorLanche">
					<p:ajax immediate="true" event="change" listener="#{pedidosController.testeValor}"/>			    	
					<f:selectItems value="#{pedidosController.listaLanches}" var="lanche" itemLabel="#{lanche.nomeLanche}" itemValue="#{lanche}">
						<f:attribute name="lancheEscolhido" value="#{lanche}" />  
                        <f:param name="lanchePadraoEscolhido" value="#{lanche}" />  
					</f:selectItems>
				</p:selectOneListbox>
			</p:panel>
		    
		    
		    <h:commandButton action="#{pedidosController.salvarLanche}" value="Salvar" /> 
		    
		    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    	</h:form>
    	
	</h:body>
</html>