<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>LuceneLanches</title>
</h:head>

    <h:body>
	<h3>Lucene Lanches</h3>
	
	<font color="red"> 
		<h:outputLabel value="${SPRING_SECURITY_LAST_EXCEPTION.message}" />
	</font>
	
		<form action="${request.contextPath}/appLogin" method="post">
		
				<h:outputLabel value="Usuario:" />
				<input type="text" name="user"/><br/><br/>
				<h:outputLabel value="Senha:" />
				<input type="password" name="password"/> <br/><br/>			
				<input type="submit" value="Login"/>
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
							
		</form>
    </h:body>
</html>